# See the documentation for all configuration options https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
    commit-message:
      prefix: "chore(deps): "
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
      # somewhat arbitrary, this is to spread Dependabot PRs throughout the week to avoid Monday overload
      day: "wednesday"      
    commit-message:
      prefix: "chore(deps): "
  - package-ecosystem: 'npm'
    directory: '/integration-test'
    schedule:
      interval: 'weekly'
      # somewhat arbitrary, this is to spread Dependabot PRs throughout the week to avoid Monday overload
      day: "wednesday"      
    commit-message:
      prefix: "chore(deps): "
    # The version of @aws-cdk/* libraries must match those from @guardian/cdk.
    # We'd never be able to update them here independently, so just ignore them.
    ignore:
      - dependency-name: "aws-cdk"
      - dependency-name: "@aws-cdk/*"
