# See the documentation for all configuration options https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'monthly'
    commit-message:
      prefix: "chore(deps): "
    groups:
      "github actions":
        patterns: ["*"]

  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'monthly'
    commit-message:
      prefix: "chore(deps): "
    # force the lockfile and package.json to be updated
    versioning-strategy: increase

    # Users of `@guardian/cdk` must be on the exact version of these dependencies.
    # Any update to them in `package.json` should create a new major version of `@guardian/cdk`.
    # New versions of these dependencies are published quite often. In the case of `constructs`, see https://github.com/aws/constructs/issues/970.
    # In order to reduce the frequency of new major versions of `@guardian/cdk`, we'll manage these dependencies ourselves via `script/update-aws-cdk`.
    ignore:
      - dependency-name: "aws-cdk"
      - dependency-name: "aws-cdk-lib"
      - dependency-name: "constructs"
    groups:
      "npm dependencies":
        # minor version updates of prettier tend to introduce linting issues that need to be manually fixed, so there's no point
        # in grouping them
        patterns:
          - *
        exclude-patterns:
          - prettier
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: 'npm'
    directory: '/tools/integration-test'
    schedule:
      interval: 'monthly'
    commit-message:
      prefix: "chore(deps): "
    # The version of AWS CDK libraries must match those from @guardian/cdk.
    # We'd never be able to update them here independently, so just ignore them.
    ignore:
      - dependency-name: "aws-cdk"
      - dependency-name: "aws-cdk-lib"
      - dependency-name: "constructs"
    groups:
      "integration test":
        patterns: ["*"]
        update-types:
          - "minor"
          - "patch"
