name: CI
on:
  pull_request:
  workflow_dispatch:
jobs:
  # see https://github.com/marketplace/actions/semantic-pull-request
  lint-PR:
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v3.5.0
        with:
          # When using "Squash and merge" on a PR with only one commit, GitHub
          # will suggest using that commit message instead of the PR title for the
          # merge commit, and it's easy to commit this by mistake. Enable this option
          # to also validate the commit message for one commit PRs.
          # https://github.com/amannn/action-semantic-pull-request
          validateSingleCommit: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  check-aws-cdk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: ./script/check-aws-cdk
  CI:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: guardian/actions-setup-node@v2.4.1
        with:
          cache: npm
      - run: ./script/ci
