name: CI
on:
  pull_request:
  workflow_dispatch:
jobs:
  # see https://github.com/marketplace/actions/semantic-pull-request
  lint-PR:
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v4.2.0
        with:
          # When using "Squash and merge" on a PR with only one commit, GitHub
          # will suggest using that commit message instead of the PR title for the
          # merge commit, and it's easy to commit this by mistake. Enable this option
          # to also validate the commit message for one commit PRs.
          # https://github.com/amannn/action-semantic-pull-request
          validateSingleCommit: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  check-aws-cdk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: ./script/check-aws-cdk
  install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: npm
      - run: npm ci

  build:
    runs-on: ubuntu-latest
    needs: [ install ]
    steps:
      - run: npm run build

  lint:
    runs-on: ubuntu-latest
    needs: [ install ]
    steps:
      - run: |
          npm run lint
          npm test:custom-lint-rule

  test:
    runs-on: ubuntu-latest
    needs: [ install ]
    steps:
      - run: npm run test

  project-gen:
    runs-on: ubuntu-latest
    needs: [ install ]
    steps:
      - run: ./script/ci-project-generation

  integration-test:
    runs-on: ubuntu-latest
    needs: [ install ]
    steps:
      - working-directory: tools/integration-test
        run: ./script/ci

  approve-and-merge:
    runs-on: ubuntu-latest
    needs: [install, lint, test, project-gen, integration-test]
    steps:
      - name: Validate, approve and merge release PRs
        uses: guardian/actions-merge-release-changes-to-protected-branch@v1.2.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          npm-lockfile-version: 2
