name: CI
on:
  pull_request:
  workflow_dispatch:
jobs:
  # see https://github.com/marketplace/actions/semantic-pull-request
  lint-PR:
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v3.4.6
        with:
          # When using "Squash and merge" on a PR with only one commit, GitHub
          # will suggest using that commit message instead of the PR title for the
          # merge commit, and it's easy to commit this by mistake. Enable this option
          # to also validate the commit message for one commit PRs.
          # https://github.com/amannn/action-semantic-pull-request
          validateSingleCommit: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  CI:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: guardian/actions-setup-node@v2.4.1
        with:
          cache: npm
      - run: ./script/ci
  approve-and-merge:
    runs-on: ubuntu-latest
    needs: [CI]
    steps:
      - name: Validate, approve and merge release PRs
        uses: guardian/actions-merge-release-changes-to-protected-branch@aa-npm-lockfile-version
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          npm-lockfile-version: 2
          # `guardian/actions-merge-release-changes-to-protected-branch` doesn't support v2 of `package-lock.json`
          # We need to update it.
          # In the meantime, allow all changes.
          additional-changes: '{".github/workflows/ci.yaml": "*"}'
